*{
    box-sizing: border-box;
}

body{
    font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
display: flex;
flex-direction: column;
}


header{

    display: flex;
    flex-direction: column;
   align-items: center;
    background-image: url('imgs/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    z-index: 0;
    position: relative;
    
   
    
}

#overlay{
    background-color: rgba(0, 0, 0, 0.315);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

   
  
    


#header_items{
    width: 85%;
}

#logo{
    width: 144px;
    z-index: 501;
}

#ham{
    width: 24px;
    height: 16px;
    z-index: 501;
}

.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
  
    
}



h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    padding: 1rem 3rem 1rem 1rem;
    border: 2px solid white; 
    margin-bottom: 13rem;
    max-width: 500px;
}

ul{
    display: none;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    
 
    
}

#dropdown ul{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
    left: 2rem;
}

#dropdown a{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
    padding-bottom: 0.2rem;
}

#dropdown a:hover{
    border-bottom: 1px solid #fff
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section1-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  
}

.img-overlay{
    background-color:rgba(0, 0, 0, 0.315);
    z-index: 500;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.vr-guy{
    width: 100%;
    z-index: 0;
}

.words-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    color: #000;
    font-size: 32px;
}

.words-section p{
    font-family: 'Alata', sans-serif;
    color: grey;
    line-height: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width:768px) {

    header{
        background-image: url('imgs/desktop/image-hero.jpg');
    }


    #dropdown{
        display: none !important;
    }

    h1{
        font-size: 50px;
    }

    #ham{
        display: none;
    }

    ul{
        display: flex;
        width: 350px;
        justify-content: space-around;
    }

    li a{
        color: #fff;
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: 15px;
        padding-bottom: 0.3rem;
    }

    li a:hover{
        border-bottom: 1px solid white;

    }

    .section1-items{
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 1200px;
    }

   .img-overlay{
       width: 80%;
       
   }
   

   .words-section{
       width: 40%;
       position: relative;
       max-width: 541px;
       right: 2rem;
       z-index: 500;
       background-color: #fff;
   }
    }

    @media screen and (min-width:1440px){
        #header_items{
            max-width: 1200px;
        }

        h1{
            font-size: 72px;
            max-width: 650px;
            padding: 40px;
        }

        #logo{
            width: 192px;
        }

        h2{
            font-size: 48px;
            width: 541px;
        }

        .words-section p{
            width: 541px;
        }

        .words-section{
            padding: 4rem;
            width: 60%;
            text-align: left;
            top: 7rem;
            right: 9rem;
            padding-left: 5rem;
            align-items: initial;
        }

        .vr-guy{
            width: auto;
        }

        .img-overlay{
            
        width: 731px;

            
        }

        .words-section{
            width: 541px;
        }

        ul{
            width: 450px;
        }

        main{
            margin-top: 10rem;
        }
    }
