*{
    box-sizing: border-box;
}

body{
    font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
display: flex;
flex-direction: column;
}


header{

    display: flex;
    flex-direction: column;
   align-items: center;
    background-image: url('imgs/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    z-index: 0;
    position: relative;
    
   
    
}

#overlay{
    background-color: rgba(0, 0, 0, 0.315);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

   
  
    


#header_items{
    width: 85%;
}

#logo{
    width: 144px;
    z-index: 501;
}

#ham{
    width: 24px;
    height: 16px;
    z-index: 501;
}

.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
  
    
}



h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    padding: 1rem 3rem 1rem 1rem;
    border: 2px solid white; 
    margin-bottom: 13rem;
    max-width: 500px;
}

ul{
    display: none;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
 
    
}

#dropdown ul{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
    left: 2rem;
}

#dropdown a{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
}

@media screen and (min-width:768px) {

    #dropdown{
        display: none !important;
    }

    h1{
        font-size: 50px;
    }

    #ham{
        display: none;
    }

    ul{
        display: flex;
        width: 350px;
        justify-content: space-around;
    }

    li a{
        color: #fff;
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: 15px;
        padding-bottom: 0.3rem;
    }

    li a:hover{
        border-bottom: 1px solid white;

    }
    }
