*{
    box-sizing: border-box;
}

body{
    font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
display: flex;
flex-direction: column;
}


header{

    display: flex;
    flex-direction: column;
   align-items: center;
    background-image: url('imgs/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
   
    width: 100%;
    
}

#header_items{
    width: 85%;
}

#logo{
    width: 144px;
}

#ham{
    width: 24px;
    height: 16px;
}

.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
  
    
}